<form *ngIf="showAddSchtroumpf" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="name">Schtroumpf name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="name"
        id="name"
        placeholder="Add Name"
      />
    </div>
    <div class="form-control">
      <label for="role">Role</label>
      <input
        type="text"
        name="role"
        [(ngModel)]="role"
        id="role"
        placeholder="Add Role"
      />
    </div>
    <div class="form-control">
      <label for="email">Email</label>
      <input
        type="email"
        name="email"
        [(ngModel)]="email"
        id="email"
        placeholder="Add Email"
      />
    </div>
    <div class="form-control">
      <label for="pass">Password</label>
      <input
        type="password"
        name="pass"
        [(ngModel)]="pass"
        id="pass"
        placeholder="Add Password"
      />
    </div>
    <input type="submit" value="Save Schtroumpf" class="btn btn-block" />
  </form>
  